::-webkit-scrollbar {
    background: none;
}

::-webkit-scrollbar-button {
    display: none;
    background: none;
}

::-webkit-scrollbar-corner {
    display: none;
    background: none;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 30px;
    border: 5px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid #fff;
}

html, body {
    scroll-behavior: smooth;
}
